# تجاهل مجلدات البيئة الافتراضية (ضخمة جداً ولا نحتاجها)
.env
.venv
env/
venv/

# تجاهل مخلفات بايثون (ملفات مؤقتة لا قيمة لها)
__pycache__/
*.py[cod]

# تجاهل إعدادات المحرر الخاصة بك (لا تهم بقية الفريق)
.vscode/